<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/typo.css" />
    <link rel="stylesheet" type="text/css" href="../../css/160226.css" />
    <link rel="icon" type="image/jpg" href="../images/160226.jpg" />
    <title>BUAA 160226</title>
</head>

<body>

    <div id="wrapper" class="typo">

        <a href="index.html">Go to Table of Contents</a>
        <h1 style="text-align:center">{{ page.title }}</h1><br> {{ content }}
        <br />
        <a href="index.html" class="footer">Go to Table of Contents</a>
</body>
</div>

</html>