<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/typo.css" />
    <link rel="stylesheet" type="text/css" href="css/160226.css" />
    <link rel="icon" type="image/jpg" href="../images/160226.jpg" />
    <title>BUAA 160226</title>
</head>

<body>
    <div id="wrapper" class="typo" style="margin-top: 50px;">
        <br />
        <h2 style="text-align:center">BUAA 1602226 集体回忆</h2>
        <br /> {{ content }}

    </div>
</body>

</html>